{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [">1%", "not ie 11"]
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": ["syntax-dynamic-import", "transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "only": ["app"],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": ["dynamic-import-node"]
    }
  }
}
